<!DOCTYPE html> 
<html> 
<head> 
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
 
<link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico"> 
 
<title>导航博客</title>
</head>
<body  >

 
<div id="banner" class="pr" 
style="width: 1384px; height: 975px; transform: translate3d(0px, 0px, 0px); transform-style: preserve-3d; backface-visibility: hidden;">   

    <div id="layer" class="layer" data-depth="0.4" 
	style="position: relative; display: block; left: 0px; top: 0px; transform: translate3d(-24.5834753461813px, 8.23918210009814px, 0px); transform-style: preserve-3d; backface-visibility: hidden;">
        <img src="../images/bg.jpg" class="banner" data-offset="100" 
		style="height: 1075px; width: 2172.63157894737px; margin-left: -394.315789473684px; margin-top: -50px;">
    </div>
</div>
<script src="../js/sample-antimate.js"></script>
</body>
</html>